In [15]:
#@Author: Leyi Huang
# ============================== Importing the libraries ===================================================
import pandas as pd
import numpy as np

# l.Load dataset

In [16]:
# ============================== Load the Dataset ===================================================
from google.colab import files
uploaded = files.upload() #colab upload

see_data = pd.read_csv('heart.csv') # Read in csv file to dataframe in Pandas
see_data.head()   #Look at the first five lines

Saving heart.csv to heart (1).csv

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

# 2.Split sample and label

In [17]:
# ................Define X, 0-12 column is sample  ................ 
X = see_data.iloc[:, 0: 12] 

X#see the X sample table

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca
0,63,1,3,145,233,1,0,150,0,2.3,0,0
1,37,1,2,130,250,0,1,187,0,3.5,0,0
2,41,0,1,130,204,0,0,172,0,1.4,2,0
3,56,1,1,120,236,0,1,178,0,0.8,2,0
4,57,0,0,120,354,0,1,163,1,0.6,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2
301,57,1,0,130,131,0,1,115,1,1.2,1,1
302,57,0,1,130,236,0,0,174,0,0.0,1,1

In [18]:
# ................Define y, the thirteenth column is labeled  ................ 
y = see_data.iloc[:, [13]]
y#see the y  label table

     target
0         1
1         1
2         1
3         1
4         1
..      ...
298       0
299       0
300       0
301       0
302       0

[303 rows x 1 columns]

# 3.Model trainning

In [20]:
#model training
'''
In machine learning, we usually split the original data into a "test set" and a "training set" in proportion to their size.
Here we are using train_test_split to split the data.
random_state: actually the number of the group of random numbers, in the need to repeat the test, to ensure that the same set of random numbers
X: the set of sample features to be divided 
y_test: the sample results to be divided
test_size: the proportion of samples, if it is an integer, it is the number of samples
'''
# ................ Splitting the Dataset into the Training set and Test set ................ 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=0)
#The random_state here is to ensure that the program splits 
#the same training set and test set every time it is run. 
#Otherwise, the same algorithm model does not work the same on different training and test sets.


X_train#we split the training set and the test set randonmly in the ratio of 4:1, so 242 samples are obtained as the training set.

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca
74,43,0,2,122,213,0,1,165,0,0.2,1,0
153,66,0,2,146,278,0,0,152,0,0.0,1,1
64,58,1,2,140,211,1,0,165,0,0.0,2,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0
287,57,1,1,154,232,0,0,164,0,0.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
251,43,1,0,132,247,1,0,143,1,0.1,1,4
192,54,1,0,120,188,0,1,113,0,1.4,1,1
117,56,1,3,120,193,0,0,162,0,1.9,1,0
47,47,1,2,138,257,0,0,156,0,0.0,2,0
172,58,1,1,120,284,0,0,160,0,1.8,1,0

In [21]:
y_train#The ratio of the training set to the test set of the labels is 4:1, so we got 242 labels

     target
74        1
153       1
64        1
296       0
287       0
..      ...
251       0
192       0
117       1
47        1
172       0

[242 rows x 1 columns]

In [207]:
'''The random forest classifier have the following pros.
1. very high accuracy 
2. able to run effectively on large datasets 
3. introduces randomness and is not prone to overfitting 
4. random forests have good resistance to noise, but will overfit in the case of relatively noisy data. 
5. can handle very high dimensional data without dimensionality reduction 
6. can handle not only discrete data but also continuous data without normalizing the data set 
7. fast training and can obtain variable importance ranking

The generalization ability of the model can be improved by adjusting 3 main parameters in the sklearn random forest model
max_features,n_estimators,min_sample_leaf,in this  model,there are only several data segments in total, so we'll simply pick all the features,--tune the remaining two variables
The following random forest parameters are the optimal solutions after adjustment.
'''
#import to model
from sklearn.ensemble import RandomForestClassifier
np.random.seed(1)
model=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=60, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=80, n_jobs=-1,
            oob_score=True, random_state=None, verbose=0,
            warm_start=False)#Parameter adjustment from https://blog.csdn.net/u012102306/article/details/52228516

model.fit(X_train,y_train) #use train data(split in last cell) training

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestClassifier(min_samples_leaf=60, n_estimators=80, n_jobs=-1,
                       oob_score=True)

# 4.Predict

In [208]:
#Model Predict
y_pred = model.predict(X_test) #predict the label in test set

#predict_proba Gives the results with probability values,The probability sum of each point in all labels is 1
y_pred2 = model.predict_proba(X_test)#funtion from https://blog.csdn.net/ODIMAYA/article/details/103138388?ops_request_misc=%257B%2522request%255Fid%2522%253A%2522164761590416782094826013%2522%252C%2522scm%2522%253A%252220140713.130102334..%2522%257D&request_id=164761590416782094826013&biz_id=0&utm_medium=distribute.pc_search_result.none-task-blog-2~all~sobaiduend~default-1-103138388.142^v2^pc_search_quality_down,143^v4^register&utm_term=model.predict_proba&spm=1018.2226.3001.4187
print(len(y_pred2))#the number of the array  is same as the above 'predict' cell
#y_pred2  here we're just have a look of the probability of predicting 0/1

# 5.Model Performance

In [231]:
#Performance Matrics
'''Funtion from 
1.meatrix:https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html
2.Accuracy score:https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html
3.Classification report:https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html
'''

from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
# Confusion matrix for the random forest classification
print("Confusion \n Matrix \n",confusion_matrix(y_test, y_pred))
print(r"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\")

# Accuracy score
print("accuracy score =",accuracy_score(y_test, y_pred))
print(r"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ ")

# Classification report
print("classification report",classification_report(y_test, y_pred))

Confusion
 Matrix
 [[21  6]
 [ 4 30]]
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
accuracy score = 0.8360655737704918
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
classification report               precision    recall  f1-score   support

           0       0.84      0.78      0.81        27
           1       0.83      0.88      0.86        34

    accuracy                           0.84        61
   macro avg       0.84      0.83      0.83        61
weighted avg       0.84      0.84      0.84        61

# 6.Improve model and validation

In [218]:
'''Cross validation：accurate evaluation of the model, especially when the data set is very small
We add cross-validation to the tree model to improve model performance
cross_val_score function from https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html'''

from sklearn.model_selection import cross_val_score  #import CV library

model =  RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=30, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=60, n_jobs=-1,
            oob_score=True, random_state=None, verbose=0,
            warm_start=False)#parameters of the RF after adjustment
accuracies = cross_val_score(estimator = model,
                             X = X_train,#Using x training set as X
                             y = y_train,#Using y training set as y
                             cv = 10, # training fold = 10
                             n_jobs = 1) # n_jobs=-1 will utilize all available cpu
mean = accuracies.mean() #output the mean of accuracy
print("mean accuracy = ", mean)
variance = accuracies.var()#output the variance of accuracy
print("variance of accuracy = ", variance)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:680: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

mean accuracy =  0.8096666666666665
variance of accuracy =  0.008476555555555553