In [1]:
#import funtion
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#import data
from google.colab import files
uploaded = files.upload()

see_data = pd.read_csv('heart.csv') # Read in csv file to dataframe in Pandas
see_data.head()

Saving heart.csv to heart (1).csv

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [15]:
#split data into  train and test
X = see_data.iloc[:, 0: 12]
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca
0,63,1,3,145,233,1,0,150,0,2.3,0,0
1,37,1,2,130,250,0,1,187,0,3.5,0,0
2,41,0,1,130,204,0,0,172,0,1.4,2,0
3,56,1,1,120,236,0,1,178,0,0.8,2,0
4,57,0,0,120,354,0,1,163,1,0.6,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2
301,57,1,0,130,131,0,1,115,1,1.2,1,1
302,57,0,1,130,236,0,0,174,0,0.0,1,1

In [16]:
y = see_data.iloc[:, [13]]
y

     target
0         1
1         1
2         1
3         1
4         1
..      ...
298       0
299       0
300       0
301       0
302       0

[303 rows x 1 columns]

In [19]:
#model training
#split data
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.2,random_state=0)
#这里的random_state就是为了保证程序每次运行都分割一样的训练集和测试集。
#否则，同样的算法模型在不同的训练集和测试集上的效果不一样。


X_train

     target
74        1
153       1
64        1
296       0
287       0
..      ...
251       0
192       0
117       1
47        1
172       0

[242 rows x 1 columns]

In [20]:
y_train

     target
74        1
153       1
64        1
296       0
287       0
..      ...
251       0
192       0
117       1
47        1
172       0

[242 rows x 1 columns]

In [21]:
#import to model
from sklearn.ensemble import RandomForestClassifier
np.random.seed(1)
model=RandomForestClassifier()

model.fit(X_train,y_train) #use train data training

model.score(X_test,y_test)#

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8032786885245902

In [24]:
#模型预测 (Predict)
y_pred = model.predict(X_test)#

In [25]:
#性能指标 (Performance Matrics)

from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
# Confusion matrix for the random forest classification
print(confusion_matrix(y_test, y_pred))

[[19  8]
 [ 4 30]]

In [26]:
# Accuracy score
print(accuracy_score(y_test, y_pred))

0.8032786885245902

In [27]:
# classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.70      0.76        27
           1       0.79      0.88      0.83        34

    accuracy                           0.80        61
   macro avg       0.81      0.79      0.80        61
weighted avg       0.81      0.80      0.80        61